@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
.nav-bar {
	display: flex;
	flex-wrap: wrap;

	padding-bottom: 30px;
	margin: 0 auto;

	list-style: none;
	justify-content: center;
	padding: 10px 10px 0;

	border-top: 5px solid #b0b7c5;

	position: fixed;
	max-width: 940px;
	left:0;
	right:0;
	z-index: 100;

	-webkit-transition: background-color 500ms ease-out;
    -moz-transition: background-color 500ms ease-out;
    -o-transition: background-color 500ms ease-out;
    transition: background-color 500ms ease-out;
}

.nav-bar li {
	margin: 0 35px 10px 35px; /*top, right bottom, left*/
}

.nav-bar a{
	text-decoration: none;
	color: #B0B7C5;
	text-transform: uppercase; 

	font-weight: 700;
	font-size: .8em;
}

#nav-home{
	color: #48A178;
}

.nav-bar a:hover, #nav-home:hover{
	color: #fff;
}

.active-link{
	color: #fff;
	padding-bottom: 3px;
	border-bottom: 2px solid #fff;
}

.scrolling{
	background-color: #28272D;
	opacity: .9;
}

.cd-nav-trigger{
	display: none;
}

@media only screen and (max-width: 650px) {
	#cd-nav ul {
		/* mobile first */
		flex-direction: column;
		position: fixed;
		width: 100%;
		background-color: rgba(43,39,41,.9);
		/*max-width: 400px;*/
		right: 0;
		top: 0;
		visibility: hidden;
		overflow: hidden;
		z-index: 1;

		transform: scale(0);
		transform-origin: 100% 0;
		transition: transform 0.3s, visibility 0s 0.3s;
	}

	#cd-nav li{
		margin-bottom: 20px;
	}
	 
	#cd-nav ul.is-visible {
		visibility: visible;
		transform: scale(1);
		transition: transform 0.3s, visibility 0s 0s;
	}
	 
	.cd-nav-trigger {
		display: block;
		position: fixed;
		top: 15px;
		right: 15px;
		color: #fff;
		border: 1px solid #fff;
		border-radius: 3px;
		padding: 5px 15px 5px 15px;
		text-decoration: none;
		font-family: "Open Sans";
		background-color: rgba(43,39,41,.9);

		/* image replacement */
		z-index: 100;
	}
}